    .bulletinboard {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
      }

      .bulletinboard h1,
.bulletinboard p {
  margin: 0; /* Reset margins for the heading and paragraph */
}

.bulletinboard h1 {
  font-size: 4rem;
  color: black;
}

.bulletinboard p {
  font-size: 2rem;
  color: black;
} 