    .blackboard {
        background-image: url('../../assets/images/bulletinboard.jpg');
        /* Additional background properties */
        background-size: cover; /* Adjust based on your design requirements */
        background-position: center center;
        background-repeat: no-repeat;
      }