.footer {
  background-color: indigo;
  color: white;
  padding: 20px;
  text-align: center;
  height: auto;
}

.footer-column {
  margin-top: 3rem;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  color: white !important;
  font-size: 24px;
  margin-right: 20px; 
}
