
.footer {
    display: flex;
    background-color: indigo;
    padding: 5px;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 15vh;
  }
  
  
  .footer-column {
    flex: 1;
    margin-top: 3rem; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-text {
    color: white; 
    margin: 20px; 
    text-decoration: none;
  }
  
  .social-icons {
    display: flex; 
    align-items: center; 
    justify-content:center;
  }
  
  .social-icon {
    color: white; 
    font-size: 24px; 
    margin-right: 80px;
  }