.fullscreen-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
  }
  
h1 {
    font-size: 4rem;
    color: indigo; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fullWidthImage {
    width: 100%;
    min-height: 20vh;
    opacity: 0.45;
  }