.image-block-container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin:0%;
  }