.image-block-container {
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
    height: auto;
    width: 50vw;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin:0%;
  }