/*  NavMenu.module.css */
.NavMenu {
  font-size: 10px;
  font-family: "Dancing Script", sans-serif;
  width: 100vw;
  max-height: 10vh;
}

.TransparentNav {
  background-color: rgba(255, 255, 255, 0.8) !important; 
  transition: background-color 0.3s ease;
  z-index: 1000; 
}

.Active i {
  color: rgb(68, 25, 68);
  text-decoration: none;
}

i {
  color: rgb(68, 25, 68);
  text-decoration: none;
}
