
.carousel-item {
  height: 0;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
  height: 20vh;
}
  
  .carousel-inner .carousel-item .carousel-caption {
      background-color:#f6be00b3;
      margin-bottom: 6rem;
  }
  
  .carousel-inner .carousel-item .carousel-caption h3, p {
      color: black;
      text-align: center;
  }
  
  .carousel .carousel-indicators button {
  background-color: white;
  margin-bottom: 6rem;
  }
  
  .carousel-control-next-icon {
    background-image: url("/src/assets/spoon_right.png");
    width: 70px;
    height: 70px;
  }
  
  .carousel-control-prev-icon {
    background-image: url("/src/assets/spoon_left.png");
    width: 70px;
    height: 70px;
  }

  .carousel-item img.object-fit-cover {
    object-fit: cover;
    height: 85vh;
  }