html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  background-color: #EDE3FF;
  width: 100vw;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Main {
  flex: 1;
  padding: 0;
}

.Main .container {
  padding-left: 0;
  padding-right: 0;
  min-height: 100vh;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

figure {
  text-align: center;
  display: inline-block;
}

.App a {
  font-size: 1.3rem;
  padding-left: 1%;
  margin-left: 2%;
  color: indigo;
  transition: color ease-in-out 0.3 sec;
  text-decoration: none;
}

.App a:hover {
  text-decoration: none;
  color: white,
}

.App a:hover i {
  color: white;
  transition: color ease-in-out 0.3s;
}

.App i {
  color: indigo;
  transition: color ease-in-out 0.3 sec;
  text-decoration: none;
}

.App h1 {
  margin-top: 4rem;
}