
.App{
    font-family: "Dancing Script", sans-serif;
    background-color: #EDE3FF;
    min-height: 100vh;
}

.Main {
    padding-top: 150px;
}

.Content {
  background-color: #AF9FC9;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #dadadf;
}

a {
    color: #ffffff;
    transition: color ease-in-out 0.3s;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    color: rgb(68, 25, 68);
  }
  
  a:hover i {
    color: rgb(68, 25, 68);
    transition: color ease-in-out 0.3s;
    text-decoration: none;
  }
  

  i {
    color: #ffffff;
    font-size: 1.6rem;
    padding: 12px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: rgb(68, 25, 68);
  }

  .CommunityImage {
    height: 100%;
    width: 100%;
  }
